.user-profile-outside{
  height: 100vh;
}
.user-profile{
  
  display: flex;
  margin-left: 567px;
  margin-top: 209px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 67, 255);
}
.user-profile-booking{
  padding-top: -10px;
  margin-left: 567px;
  margin-top: 20px;
  font-size: 14px;
}
.user-profile-infors{
  margin-top: 20px;
  margin-left: 567px;
}
.user-profile-infor{
  margin-top: 20px;
  font-size: 14px;
}
.user-profile-infor-settings{
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 67, 255);
}